.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.posts .post .info {
    color: #a21b24;
    font-style: italic;
    
} 

.error {
    border: 1px solid red;
    background-color: rgb(241, 180, 180);
    color: red;
}

.success {
    border: 1px solid green;
    background-color: rgb(132, 209, 132);
    color: green;
}